name: Build & Publish Docker Image

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image name
        run: echo "IMAGE=ghcr.io/DevSlashRichie/iot-cli" >> $GITHUB_ENV

      - name: Build Docker image
        run: docker build -t $IMAGE:latest -t $IMAGE:${{ github.sha }} .

      - name: Push image (latest)
        run: docker push $IMAGE:latest

      - name: Push image (sha)
        run: docker push $IMAGE:${{ github.sha }}
